{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="POST" enctype="multipart/form-data">
      {% csrf_token%}
        <h2>Update Receipes</h2>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Receipes Name</label>
      <input name=" receipe_name" value="{{receipe.receipe_name}}" required type="text" class="form-control" >
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Receipes Descripition</label>
      <textarea required name= "text" value=""  class="form-control" >{{receipe.text}}</textarea>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Receipes Image</label>
        <input name="receipe_image" type="file" class="form-control" >
      </div>
    
    <button type="submit"  class="btn btn-success">Update</button>
    
  </form>

</div>
</body>
</html>
{% endblock %}